<div class="page-header">
  <h1>Notes</h1>
</div>
<table class="table table-striped">
	<tr>
		<td>#</td>
		<td>Title</td>
		<td>Content</td>
		<td></td>
	</tr>
	<% @posts.each do |post| %>
		<tr>
			<td></td>
			<td><%= post.title %></td>
			<td><%= link_to post.content , post_path(post) %></td>
			<td>
				<%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary btn-md' %>
				<%= link_to 'Delete', post_path(post), class: 'btn btn-primary btn-md', method: :delete, data: { confrim: "Are you sure?" } %>
			</td>
		</tr>
	<% end %>
</table>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary btn-md' %>