<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<div class="container-fluid">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/admin/posts">
						ohmygodcheckthis
					</a>
				</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">login</a></li>
						<li><a href="#">logout</a></li>
					</ul>
			</div>
		</nav>
  		<%= flash[:notice] %>
  		<%= flash[:alert] %>
    	<%= yield %>
  	</div>
  </body>
</html>
